body {
  width: 768px;
  height: 540px;
}
.popup {
  padding-top: 30px;
  height: 540px;
/*  padding: 15px 15px; */
  position: absolute;

}
.letter-disabled {
  color: #ccc;
}
/*.nav {
  padding-left: 70px;
}*/
.nav>li>a {
  padding: 5px 6px;
}
.header {
  height: 30px;
}
.contact-list {
  margin-top: 20px;
  height: 330px; 
  overflow: auto; 
  position: relative;
}
.contact-card {
  padding-top: 10px;
}
.number-link {
  padding-left: 5px;
}