body {
  width: 768px;
  height: 540px;
  padding-top: 60px;
}
.logo {
  margin-top: -13px;
}
.popup {
  /*padding-top: 2px;*/
  height: 540px;
/*  padding: 15px 15px; */
  position: absolute;

}
.letter-disabled {
  color: #ccc;
}
/*.nav {
  padding-left: 70px;
}*/
/*.nav>li>a {
  padding: 5px 6px;
}*/
/*.header {
  height: 30px;
}*/
.contact-list {
  margin-top: 5px;
  height: 440px; 
  overflow: auto; 
  position: relative;
}
.contact-card {
  padding-top: 10px;
}
.number-link {
  padding-left: 5px;
}
.calls-log {
  width: 700px;
  margin-left: 34px;
}

.header-fixed {
}

.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > thead > tr,
.header-fixed > tbody > tr,
.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > td {
    display: block;
}

.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.header-fixed > tbody {
    overflow-y: auto;
    height: 420px;
}

.header-fixed > tbody > tr > td,
.header-fixed > thead > tr > th {
    float: left;
}
.missed {
  color: red;
}
.outgoing {
  color: green;
}
.incoming {
  color: blue;
}
.col-icon {
  width: 65px;
}
.col-when {
  width: 135px;
}
.col-who {
  width: 340px;
}
.col-number {
  width: 135px;
}

